

.footer-info__link {
  display: block;
  margin-top: 25px;
  margin-left: 10px;
  color: rgba(154, 0, 0, 1);
  grid-column: 1/2;
  grid-row: 2/3;
}

.contacts__skolkovo {
  margin-top: 15px;
  margin-left: 4px;
  width: 35%;
}

.product-page-company-items {
	width: 80%;
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 150px;
  margin-bottom: 35px;
}
.product-page-company-item {
  width: 30%;
  margin: 20%;
}
